# TAQ data using WRDS API

## TOC:
* [Setup](#bullet1)
* [WRDS API](#bullet2)
* [Data analysis](#bullet3)
* [Converting raw data to daily data](#bullet4)

This part contains the code for calling the WRDS API. I will be using this API to collect the TAQ data. This method is easier, as some data can already be filtered using filters like exchange code. This will decrease the data size.

### Setup <a class="anchor" id="bullet1"></a>

In [ ]:
!pip install wrds
!pip install numpy

In [2]:
import wrds
import time
import pandas as pd
import os
import numpy as np
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 20)

In [ ]:
db = wrds.Connection()
# create_pgpass_file()

In [14]:
def track_runtime(func):
    '''Decorator that reports the execution time.'''
  
    def wrap(*args, **kwargs):
        start = time.time()
        result = func(*args, **kwargs)
        end = time.time()
        runtime = round(end-start, 2)
        print(f"Function [{func.__name__}] finished with runtime [{runtime}] seconds")
        return result
    return wrap

### WRDS API <a class="anchor" id="bullet2"></a>

Now the API has been setup, we can call a couple of functions to explore it. 
- `db.list_libraries()` calls all available libraries which are currently available. I will be using the `taqmsec` library.
- The `taqmsec` library consists out of vast number of tables. Each table contains data for a different period. I am using the `ctm` datatable and will use the table for each relevant year.

In [ ]:
db.list_libraries()

In [42]:
table_list = [item for item in db.list_tables(library='taqmsec') if 'ctm' in item and len(item) < 9]

table_list

['ctm_2003',
 'ctm_2004',
 'ctm_2005',
 'ctm_2006',
 'ctm_2007',
 'ctm_2008',
 'ctm_2009',
 'ctm_2010',
 'ctm_2011',
 'ctm_2012',
 'ctm_2013',
 'ctm_2014',
 'ctm_2015',
 'ctm_2016',
 'ctm_2017',
 'ctm_2018',
 'ctm_2019',
 'ctm_2020',
 'ctm_2021',
 'ctm_2022',
 'ctm_2023']

In [27]:
# db.describe_table(library='taqmsec', table='ctm_2018')
db.describe_table(library='taqmsec', table='ctm_20180102')

Approximately 9196317945 rows in taqmsec.ctm_2018.

              name  nullable        type comment
0             date      True        DATE    None
1           time_m      True        TIME    None
2      time_m_nano      True    SMALLINT    None
3               ex      True  VARCHAR(1)    None
4         sym_root      True        TEXT    None
5       sym_suffix      True        TEXT    None
6         tr_scond      True  VARCHAR(4)    None
7             size      True     INTEGER    None
8            price      True     NUMERIC    None
9      tr_stop_ind      True  VARCHAR(1)    None
10         tr_corr      True  VARCHAR(2)    None
11       tr_seqnum      True      BIGINT    None
12           tr_id      True        TEXT    None
13       tr_source      True  VARCHAR(1)    None
14           tr_rf      True  VARCHAR(1)    None
15       part_time      True        TIME    None
16  part_time_nano      True    SMALLINT    None
17        trf_time      True        TIME    None
18   trf_time_nano      True    SMALLINT    None
19         tte_ind      True  VARCHAR(1)    None

In [10]:
database = 'taqmsec'
table = 'ctm_2018'

ticker = 'TSLA'
exchange_code = 'D'
start_date = '2018-01-15'
end_date = '2018-01-31'
df = db.raw_sql(f"select date, time_m, ex, sym_root, size, price from {database}.{table} where sym_root in ('{ticker}') and ex = '{exchange_code}' and date > '{start_date}' and date < '{end_date}'")
# df = db.raw_sql("select date, time_m, ex, sym_root, size, price from taqmsec.ctm_2018 where sym_root in ('GME', 'AMD', 'AAPL') and size > 100000 and date < '2018-01-31'")
df.head()

         date           time_m ex sym_root  size   price
0  2018-01-19  08:00:00.018172  D     TSLA   700  347.25
1  2018-01-19  08:00:03.706403  D     TSLA    25  346.19
2  2018-01-19  08:00:08.348072  D     TSLA   100  347.32
3  2018-01-19  08:00:08.349734  D     TSLA   100  346.50
4  2018-01-19  08:00:08.364496  D     TSLA  1000  347.32

This is the function that actually calls the API.

In [15]:
@track_runtime
def call_taq_api(ticker, year=2018, database='taqmsec', exchange_code = 'D', start_date = '2018-05-01', end_date = '2020-08-31'):
    
    # Call API
    print(f'Calling API for ticker [{ticker}], year [{year}]')
    df = db.raw_sql(f"select date, time_m, ex, sym_root, size, price from {database}.ctm_{year} where sym_root in ('{ticker}') and ex = '{exchange_code}' and date >= '{start_date}' and date <= '{end_date}'")
    
    # Check number of transactions found
    transaction_count = len(df.index)
    print(f"Found [{transaction_count}] rows of data for [{ticker}]")
    
    return df

In [16]:
ticker_list = ['TSLA', 'GME', 'LULU', 'ATVI', 'IQ', 'WMT', 'SBUX', 'F', 'TLRY', 'BAC', 'SHOP','MU', 'SNAP', 'AMD', 'DIS', 'SQ', 'BABA', 'V', 'BA', 'NVDA', 'GE', 'AAPL', 'AMZN', 'MSFT', 'NFLX']
taq_path = r"E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered"
# ticker_list = ['GME']

def gather_taq(save=False):
    if save:
        for ticker in ticker_list:
            # Create file to save output
            file_loc = os.path.join(taq_path, f"{ticker}.csv").replace('\\', '/')
            
            # Check if file already exists and skips API request if file exists
            if os.path.isfile(file_loc):
                print(f"Skipping TAQ API request for ticker [{ticker}] as file exists: [{file_loc}]")
                continue
            
            # Looping through the years
            year_list = [2018, 2019, 2020]
            for year in year_list:
                
                # Calling api
                df = call_taq_api(ticker, year)

                # If file exists, append
                if os.path.isfile(file_loc):
                    print("file exits, appending")
                    df.to_csv(file_loc, mode='a', header=False)
                    print(f"Saving output at: {file_loc}\n")
                
                # Else create new file
                else:
                    print(f"file does not exist exits, saving file at: {file_loc}")
                    df.to_csv(file_loc, encoding='utf-8')

                
                # Cooling down API
                print("Sleeping for 2 secs")
                time.sleep(2)
                
            
            print(df)
            
            # Cooling down API
            print("Sleeping for 10 secs")
            time.sleep(10)


gather_taq(save=True)

Calling API for ticker [TSLA], year [2018]
Found [5087172] rows of data for [TSLA]
Function [call_taq_api] finished with runtime [51.16] seconds
file does not exist exits, saving file at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/TSLA.csv
Sleeping for 2 secs
Calling API for ticker [TSLA], year [2019]
Found [7591145] rows of data for [TSLA]
Function [call_taq_api] finished with runtime [63.52] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/TSLA.csv

Sleeping for 2 secs
Calling API for ticker [TSLA], year [2020]
Found [27730855] rows of data for [TSLA]
Function [call_taq_api] finished with runtime [357.79] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/TSLA.csv

Sleeping for 2 secs
              date           time_m ex sym_root  size     price
0       2020-01-21  08:00:00.597186  D     TSLA     7  507.5100
1       2020-01-21  08:00:00.814201  D     TSLA   317  507.5959
2       2020-01-21  08:00:00.947392  D     TSLA    73  507.9262
3       2020-01-21  08:00:01.011916  D     TSLA     5  510.1300
4       2020-01-21  08:00:01.018920  D     TSLA   100  510.8000
...            ...              ... ..      ...   ...       ...
230850  2020-01-08  19:58:38.033948  D     TSLA   485  495.9000
230851  2020-01-08  19:59:01.799370  D     TSLA    96  496.0000
230852  2020-01-08  19:59:01.799630  D     TSLA     4  495.9900
230853  2020-01-08  19:59:22.137914  D     TSLA    20  496.0000
230854  2020-01-08  19:59:52.745845  D     TSLA   210  496.0500

[27730855 rows x 6 columns]
Sleeping for 10 secs
Skipping TAQ API request for ticker [GME] as file exists: [E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/GME.csv]
Calling API for ticker [LULU], year [2018]
Found [742458] rows of data for [LULU]
Function [call_taq_api] finished with runtime [6.89] seconds
file does not exist exits, saving file at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/LULU.csv
Sleeping for 2 secs
Calling API for ticker [LULU], year [2019]
Found [1323838] rows of data for [LULU]
Function [call_taq_api] finished with runtime [8.98] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/LULU.csv

Sleeping for 2 secs
Calling API for ticker [LULU], year [2020]
Found [1436668] rows of data for [LULU]
Function [call_taq_api] finished with runtime [9.87] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/LULU.csv

Sleeping for 2 secs
              date           time_m ex sym_root  size   price
0       2020-01-21  08:00:02.642784  D     LULU     2  240.10
1       2020-01-21  08:00:02.726680  D     LULU     4  240.00
2       2020-01-21  08:00:02.754207  D     LULU     5  240.00
3       2020-01-21  08:00:02.773618  D     LULU     9  240.00
4       2020-01-21  08:02:49.081839  D     LULU     2  241.00
...            ...              ... ..      ...   ...     ...
436663  2020-03-09  18:52:06.085397  D     LULU    97  199.77
436664  2020-03-09  19:31:59.891320  D     LULU   130  201.99
436665  2020-03-09  19:33:07.023723  D     LULU    25  201.99
436666  2020-03-09  19:46:36.969968  D     LULU   500  204.00
436667  2020-03-09  19:56:32.197504  D     LULU    36  205.95

[1436668 rows x 6 columns]
Sleeping for 10 secs
Calling API for ticker [ATVI], year [2018]
Found [1858163] rows of data for [ATVI]
Function [call_taq_api] finished with runtime [12.32] seconds
file does not exist exits, saving file at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/ATVI.csv
Sleeping for 2 secs
Calling API for ticker [ATVI], year [2019]
Found [2837807] rows of data for [ATVI]
Function [call_taq_api] finished with runtime [18.62] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/ATVI.csv

Sleeping for 2 secs
Calling API for ticker [ATVI], year [2020]
Found [2516435] rows of data for [ATVI]
Function [call_taq_api] finished with runtime [16.91] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/ATVI.csv

Sleeping for 2 secs
             date           time_m ex sym_root  size    price
0      2020-01-21  08:00:02.577714  D     ATVI    16  61.0000
1      2020-01-21  08:00:03.030158  D     ATVI    25  61.0028
2      2020-01-21  08:00:03.135312  D     ATVI    91  61.0008
3      2020-01-21  08:00:09.323055  D     ATVI     1  61.1150
4      2020-01-21  08:17:57.804927  D     ATVI    25  60.5400
...           ...              ... ..      ...   ...      ...
16430  2020-04-06  18:23:57.185534  D     ATVI     1  61.5000
16431  2020-04-06  18:50:28.447190  D     ATVI     6  61.5000
16432  2020-04-06  18:52:14.456186  D     ATVI     5  61.5100
16433  2020-04-06  18:52:23.564214  D     ATVI    20  61.5000
16434  2020-04-06  18:59:31.981675  D     ATVI     9  61.5000

[2516435 rows x 6 columns]
Sleeping for 10 secs
Calling API for ticker [IQ], year [2018]
Found [3653566] rows of data for [IQ]
Function [call_taq_api] finished with runtime [24.34] seconds
file does not exist exits, saving file at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/IQ.csv
Sleeping for 2 secs
Calling API for ticker [IQ], year [2019]
Found [2165974] rows of data for [IQ]
Function [call_taq_api] finished with runtime [14.37] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/IQ.csv

Sleeping for 2 secs
Calling API for ticker [IQ], year [2020]
Found [1585651] rows of data for [IQ]
Function [call_taq_api] finished with runtime [11.21] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/IQ.csv

Sleeping for 2 secs
             date           time_m ex sym_root  size  price
0      2020-01-21  08:00:02.110249  D       IQ   300  23.28
1      2020-01-21  08:00:02.167459  D       IQ   100  23.30
2      2020-01-21  08:00:02.259076  D       IQ   100  23.18
3      2020-01-21  08:00:02.421128  D       IQ   200  23.28
4      2020-01-21  08:00:02.430554  D       IQ    60  23.24
...           ...              ... ..      ...   ...    ...
85646  2020-03-20  17:30:36.774371  D       IQ     1  17.47
85647  2020-03-20  17:34:08.291731  D       IQ    39  17.40
85648  2020-03-20  17:36:11.139274  D       IQ   161  17.49
85649  2020-03-20  19:14:10.036992  D       IQ  1730  17.54
85650  2020-03-20  19:47:49.084965  D       IQ     1  17.33

[1585651 rows x 6 columns]
Sleeping for 10 secs
Calling API for ticker [WMT], year [2018]
Found [2402063] rows of data for [WMT]
Function [call_taq_api] finished with runtime [15.86] seconds
file does not exist exits, saving file at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/WMT.csv
Sleeping for 2 secs
Calling API for ticker [WMT], year [2019]
Found [2851591] rows of data for [WMT]
Function [call_taq_api] finished with runtime [18.9] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/WMT.csv

Sleeping for 2 secs
Calling API for ticker [WMT], year [2020]
Found [4707831] rows of data for [WMT]
Function [call_taq_api] finished with runtime [32.08] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/WMT.csv

Sleeping for 2 secs
              date           time_m ex sym_root  size    price
0       2020-01-21  08:00:01.829350  D      WMT    10  114.960
1       2020-01-21  08:00:01.850080  D      WMT     1  114.960
2       2020-01-21  08:00:02.017096  D      WMT    20  114.745
3       2020-01-21  08:00:02.048028  D      WMT     5  114.745
4       2020-01-21  08:00:03.298073  D      WMT     7  114.750
...            ...              ... ..      ...   ...      ...
207826  2020-03-04  17:59:34.035365  D      WMT    10  116.300
207827  2020-03-04  19:05:02.676157  D      WMT     1  115.830
207828  2020-03-04  19:05:04.081161  D      WMT     1  115.770
207829  2020-03-04  19:05:12.557928  D      WMT     1  116.035
207830  2020-03-04  19:27:18.374224  D      WMT   225  116.300

[4707831 rows x 6 columns]
Sleeping for 10 secs
Calling API for ticker [SBUX], year [2018]
Found [2575744] rows of data for [SBUX]
Function [call_taq_api] finished with runtime [17.89] seconds
file does not exist exits, saving file at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/SBUX.csv

Sleeping for 2 secs
Calling API for ticker [SBUX], year [2019]
Found [3304968] rows of data for [SBUX]
Function [call_taq_api] finished with runtime [23.67] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/SBUX.csv

Sleeping for 2 secs
Calling API for ticker [SBUX], year [2020]
Found [4760216] rows of data for [SBUX]
Function [call_taq_api] finished with runtime [34.3] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/SBUX.csv

Sleeping for 2 secs
              date           time_m ex sym_root  size  price
0       2020-01-21  08:00:01.191476  D     SBUX    20  93.40
1       2020-01-21  08:00:01.233447  D     SBUX    20  93.09
2       2020-01-21  08:00:01.281050  D     SBUX    11  93.40
3       2020-01-21  08:00:01.485403  D     SBUX    25  93.40
4       2020-01-21  08:00:01.525933  D     SBUX    12  93.15
...            ...              ... ..      ...   ...    ...
260211  2020-07-14  19:57:05.638592  D     SBUX    20  73.73
260212  2020-07-14  19:57:20.448089  D     SBUX     6  73.73
260213  2020-07-14  19:57:40.787043  D     SBUX     3  73.79
260214  2020-07-14  19:58:26.221009  D     SBUX     7  73.83
260215  2020-07-14  19:58:26.221078  D     SBUX    10  73.75

[4760216 rows x 6 columns]
Sleeping for 10 secs
Calling API for ticker [F], year [2018]
Found [4519210] rows of data for [F]
Function [call_taq_api] finished with runtime [31.64] seconds
file does not exist exits, saving file at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/F.csv
Sleeping for 2 secs
Calling API for ticker [F], year [2019]
Found [6142650] rows of data for [F]
Function [call_taq_api] finished with runtime [42.8] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/F.csv

Sleeping for 2 secs
Calling API for ticker [F], year [2020]
Found [11612336] rows of data for [F]
Function [call_taq_api] finished with runtime [84.52] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/F.csv

Sleeping for 2 secs
              date           time_m ex sym_root  size    price
0       2020-01-21  08:00:02.147351  D        F    50   9.1700
1       2020-01-21  08:00:02.271386  D        F    50   9.1750
2       2020-01-21  08:00:02.358169  D        F     1   9.1700
3       2020-01-21  08:00:02.432909  D        F   100   9.1700
4       2020-01-21  08:00:02.551107  D        F    20   9.1750
...            ...              ... ..      ...   ...      ...
112331  2020-07-22  15:50:33.529244  D        F  1000  21.3900
112332  2020-07-22  15:53:00.714476  D        F   100  21.3646
112333  2020-07-22  15:53:36.632236  D        F   150  21.3900
112334  2020-07-22  15:53:36.632641  D        F    35  21.3899
112335  2020-07-22  15:58:23.464423  D        F    20  21.3450

[11612336 rows x 6 columns]
Sleeping for 10 secs
Calling API for ticker [TLRY], year [2018]
Found [2462351] rows of data for [TLRY]
Function [call_taq_api] finished with runtime [17.05] seconds
file does not exist exits, saving file at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/TLRY.csv
Sleeping for 2 secs
Calling API for ticker [TLRY], year [2019]
Found [1430762] rows of data for [TLRY]
Function [call_taq_api] finished with runtime [9.75] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/TLRY.csv

Sleeping for 2 secs
Calling API for ticker [TLRY], year [2020]
Found [2664879] rows of data for [TLRY]
Function [call_taq_api] finished with runtime [18.38] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/TLRY.csv

Sleeping for 2 secs
              date           time_m ex sym_root  size  price
0       2020-01-21  08:00:00.798289  D     TLRY   300  21.10
1       2020-01-21  08:00:00.970759  D     TLRY   500  21.00
2       2020-01-21  08:00:01.218247  D     TLRY   100  21.07
3       2020-01-21  08:00:01.292713  D     TLRY    13  21.00
4       2020-01-21  08:00:01.480553  D     TLRY     5  20.91
...            ...              ... ..      ...   ...    ...
164874  2020-07-10  19:47:25.533397  D     TLRY    50   7.99
164875  2020-07-10  19:51:52.917723  D     TLRY   165   7.96
164876  2020-07-10  19:53:09.415959  D     TLRY   200   7.99
164877  2020-07-10  19:55:56.481648  D     TLRY  3652   7.97
164878  2020-07-10  19:59:31.699115  D     TLRY   160   7.97

[2664879 rows x 6 columns]
Sleeping for 10 secs
Calling API for ticker [BAC], year [2018]
Found [6277356] rows of data for [BAC]
Function [call_taq_api] finished with runtime [44.49] seconds
file does not exist exits, saving file at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/BAC.csv
Sleeping for 2 secs
Calling API for ticker [BAC], year [2019]
Found [8353209] rows of data for [BAC]
Function [call_taq_api] finished with runtime [61.17] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/BAC.csv

Sleeping for 2 secs
Calling API for ticker [BAC], year [2020]
Found [11232520] rows of data for [BAC]
Function [call_taq_api] finished with runtime [84.71] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/BAC.csv

Sleeping for 2 secs
              date           time_m ex sym_root  size    price
0       2020-01-21  08:00:02.137284  D      BAC   425  34.5300
1       2020-01-21  08:00:02.192163  D      BAC   500  34.4700
2       2020-01-21  08:00:02.342396  D      BAC    23  34.5300
3       2020-01-21  08:00:02.343996  D      BAC   250  34.5000
4       2020-01-21  08:00:02.418694  D      BAC  1000  34.5000
...            ...              ... ..      ...   ...      ...
232515  2020-07-16  15:51:02.810303  D      BAC    44  25.8301
232516  2020-07-16  15:51:12.305596  D      BAC    10  25.8300
232517  2020-07-16  15:52:31.553391  D      BAC   500  25.8343
232518  2020-07-16  15:54:05.111906  D      BAC   385  25.8579
232519  2020-07-16  15:58:56.226361  D      BAC    27  25.8700

[11232520 rows x 6 columns]
Sleeping for 10 secs
Calling API for ticker [SHOP], year [2018]
Found [855096] rows of data for [SHOP]
Function [call_taq_api] finished with runtime [6.32] seconds
file does not exist exits, saving file at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/SHOP.csv
Sleeping for 2 secs
Calling API for ticker [SHOP], year [2019]
Found [2105494] rows of data for [SHOP]
Function [call_taq_api] finished with runtime [14.31] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/SHOP.csv

Sleeping for 2 secs
Calling API for ticker [SHOP], year [2020]
Found [4283799] rows of data for [SHOP]
Function [call_taq_api] finished with runtime [28.89] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/SHOP.csv

Sleeping for 2 secs
              date           time_m ex sym_root  size   price
0       2020-01-21  08:00:01.163226  D     SHOP     1  454.00
1       2020-01-21  08:00:01.189263  D     SHOP   100  451.15
2       2020-01-21  08:00:01.393855  D     SHOP    50  454.05
3       2020-01-21  08:00:01.435551  D     SHOP     1  454.05
4       2020-01-21  08:00:02.274860  D     SHOP    50  454.05
...            ...              ... ..      ...   ...     ...
283794  2020-08-12  19:52:01.613215  D     SHOP     1  990.00
283795  2020-08-12  19:54:00.704045  D     SHOP     1  990.00
283796  2020-08-12  19:54:40.033450  D     SHOP     1  990.00
283797  2020-08-12  19:56:09.432215  D     SHOP     1  990.94
283798  2020-08-12  19:59:21.640051  D     SHOP     1  990.50

[4283799 rows x 6 columns]
Sleeping for 10 secs
Calling API for ticker [MU], year [2018]
Found [7518670] rows of data for [MU]
Function [call_taq_api] finished with runtime [53.39] seconds
file does not exist exits, saving file at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/MU.csv
Sleeping for 2 secs
Calling API for ticker [MU], year [2019]
Found [6985954] rows of data for [MU]
Function [call_taq_api] finished with runtime [48.48] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/MU.csv

Sleeping for 2 secs

Calling API for ticker [MU], year [2020]
Found [5624528] rows of data for [MU]
Function [call_taq_api] finished with runtime [38.77] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/MU.csv

Sleeping for 2 secs
              date           time_m ex sym_root  size    price
0       2020-01-21  08:00:00.535066  D       MU   100  57.2000
1       2020-01-21  08:00:00.658349  D       MU   400  57.3075
2       2020-01-21  08:00:01.629656  D       MU   100  57.1899
3       2020-01-21  08:00:02.322959  D       MU   300  57.2000
4       2020-01-21  08:00:02.431546  D       MU     5  57.2000
...            ...              ... ..      ...   ...      ...
124523  2020-07-14  19:49:15.007509  D       MU   500  49.9400
124524  2020-07-14  19:51:03.214898  D       MU    50  49.9500
124525  2020-07-14  19:51:03.215538  D       MU   200  49.9500
124526  2020-07-14  19:52:16.615796  D       MU    99  49.9400
124527  2020-07-14  19:57:43.019387  D       MU    60  49.9300

[5624528 rows x 6 columns]
Sleeping for 10 secs
Calling API for ticker [SNAP], year [2018]
Found [3521847] rows of data for [SNAP]
Function [call_taq_api] finished with runtime [23.99] seconds
file does not exist exits, saving file at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/SNAP.csv
Sleeping for 2 secs
Calling API for ticker [SNAP], year [2019]
Found [5565415] rows of data for [SNAP]
Function [call_taq_api] finished with runtime [39.2] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/SNAP.csv

Sleeping for 2 secs
Calling API for ticker [SNAP], year [2020]
Found [5937971] rows of data for [SNAP]
Function [call_taq_api] finished with runtime [41.37] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/SNAP.csv

Sleeping for 2 secs
              date           time_m ex sym_root  size    price
0       2020-01-21  08:00:01.226597  D     SNAP  4000  19.0000
1       2020-01-21  08:00:01.241525  D     SNAP   172  19.0000
2       2020-01-21  08:00:01.248996  D     SNAP   198  19.0401
3       2020-01-21  08:00:01.249133  D     SNAP   400  19.0400
4       2020-01-21  08:00:01.252901  D     SNAP    50  19.0100
...            ...              ... ..      ...   ...      ...
437966  2020-07-16  19:50:21.892220  D     SNAP  1382  23.7400
437967  2020-07-16  19:57:03.320704  D     SNAP    85  23.7550
437968  2020-07-16  19:57:03.322894  D     SNAP   915  23.7800
437969  2020-07-16  19:58:38.612275  D     SNAP    10  23.7800
437970  2020-07-16  19:59:00.206417  D     SNAP     5  23.7800

[5937971 rows x 6 columns]
Sleeping for 10 secs
Calling API for ticker [AMD], year [2018]
Found [12130384] rows of data for [AMD]
Function [call_taq_api] finished with runtime [94.1] seconds
file does not exist exits, saving file at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/AMD.csv
Sleeping for 2 secs
Calling API for ticker [AMD], year [2019]
Found [13303361] rows of data for [AMD]
Function [call_taq_api] finished with runtime [106.97] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/AMD.csv

Sleeping for 2 secs
Calling API for ticker [AMD], year [2020]
Found [17883140] rows of data for [AMD]
Function [call_taq_api] finished with runtime [170.57] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/AMD.csv

Sleeping for 2 secs
              date           time_m ex sym_root  size  price
0       2020-01-21  08:00:00.515343  D      AMD     4  50.79
1       2020-01-21  08:00:00.529658  D      AMD    10  50.78
2       2020-01-21  08:00:00.541862  D      AMD     6  50.75
3       2020-01-21  08:00:00.544759  D      AMD     4  50.78
4       2020-01-21  08:00:00.552457  D      AMD   500  50.73
...            ...              ... ..      ...   ...    ...
383135  2020-07-22  19:59:31.121629  D      AMD   120  62.29
383136  2020-07-22  19:59:38.092712  D      AMD   400  62.25
383137  2020-07-22  19:59:43.371560  D      AMD   481  62.24
383138  2020-07-22  19:59:48.131942  D      AMD   300  62.24
383139  2020-07-22  19:59:52.759135  D      AMD    40  62.21

[17883140 rows x 6 columns]
Sleeping for 10 secs
Calling API for ticker [DIS], year [2018]
Found [2650369] rows of data for [DIS]
Function [call_taq_api] finished with runtime [18.69] seconds
file does not exist exits, saving file at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/DIS.csv
Sleeping for 2 secs
Calling API for ticker [DIS], year [2019]
Found [6081910] rows of data for [DIS]
Function [call_taq_api] finished with runtime [42.1] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/DIS.csv

Sleeping for 2 secs
Calling API for ticker [DIS], year [2020]
Found [10424244] rows of data for [DIS]
Function [call_taq_api] finished with runtime [76.23] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/DIS.csv

Sleeping for 2 secs
              date           time_m ex sym_root  size   price
0       2020-01-21  08:00:00.961647  D      DIS     2  144.33
1       2020-01-21  08:00:01.346217  D      DIS     2  143.99
2       2020-01-21  08:00:01.346672  D      DIS     6  143.99
3       2020-01-21  08:00:01.356364  D      DIS    14  143.90
4       2020-01-21  08:00:01.359212  D      DIS     8  143.92
...            ...              ... ..      ...   ...     ...
424239  2020-07-27  19:50:46.994956  D      DIS   500  116.26
424240  2020-07-27  19:50:51.340055  D      DIS    10  116.34
424241  2020-07-27  19:52:13.707267  D      DIS    30  116.34
424242  2020-07-27  19:53:59.051569  D      DIS  1000  116.35
424243  2020-07-27  19:57:50.025725  D      DIS     1  116.25

[10424244 rows x 6 columns]
Sleeping for 10 secs
Calling API for ticker [SQ], year [2018]
Found [4109318] rows of data for [SQ]
Function [call_taq_api] finished with runtime [27.66] seconds
file does not exist exits, saving file at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/SQ.csv
Sleeping for 2 secs
Calling API for ticker [SQ], year [2019]
Found [4138683] rows of data for [SQ]
Function [call_taq_api] finished with runtime [27.84] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/SQ.csv

Sleeping for 2 secs
Calling API for ticker [SQ], year [2020]
Found [5642319] rows of data for [SQ]
Function [call_taq_api] finished with runtime [38.86] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/SQ.csv

Sleeping for 2 secs
              date           time_m ex sym_root  size    price
0       2020-01-21  08:00:01.160348  D       SQ    50   69.000
1       2020-01-21  08:00:01.163179  D       SQ     8   69.095
2       2020-01-21  08:00:01.189421  D       SQ     2   69.270
3       2020-01-21  08:00:01.192061  D       SQ    10   69.000
4       2020-01-21  08:00:01.193664  D       SQ    10   69.095
...            ...              ... ..      ...   ...      ...
142314  2020-07-20  19:58:09.561326  D       SQ     5  129.000
142315  2020-07-20  19:58:34.814514  D       SQ     1  129.100
142316  2020-07-20  19:59:35.240619  D       SQ   267  129.200
142317  2020-07-20  19:59:35.292737  D       SQ    20  129.100
142318  2020-07-20  19:59:50.191790  D       SQ   200  129.200

[5642319 rows x 6 columns]
Sleeping for 10 secs
Calling API for ticker [BABA], year [2018]
Found [6628405] rows of data for [BABA]
Function [call_taq_api] finished with runtime [46.86] seconds
file does not exist exits, saving file at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/BABA.csv
Sleeping for 2 secs
Calling API for ticker [BABA], year [2019]
Found [6690902] rows of data for [BABA]
Function [call_taq_api] finished with runtime [50.37] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/BABA.csv

Sleeping for 2 secs
Calling API for ticker [BABA], year [2020]
Found [7223868] rows of data for [BABA]
Function [call_taq_api] finished with runtime [56.31] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/BABA.csv

Sleeping for 2 secs

              date           time_m ex sym_root  size     price
0       2020-01-21  08:00:01.439311  D     BABA   190  223.0100
1       2020-01-21  08:00:01.477995  D     BABA   100  223.0100
2       2020-01-21  08:00:01.484362  D     BABA   300  223.2000
3       2020-01-21  08:00:01.488205  D     BABA    39  223.2000
4       2020-01-21  08:00:01.506531  D     BABA   100  223.1500
...            ...              ... ..      ...   ...       ...
223863  2020-07-16  19:55:05.818482  D     BABA    30  242.6000
223864  2020-07-16  19:57:44.670805  D     BABA    15  243.0000
223865  2020-07-16  19:57:50.437526  D     BABA    60  243.0000
223866  2020-07-16  19:57:50.439938  D     BABA    40  243.0000
223867  2020-07-16  19:58:14.333321  D     BABA   200  242.9999

[7223868 rows x 6 columns]
Sleeping for 10 secs
Calling API for ticker [V], year [2018]
Found [2469671] rows of data for [V]
Function [call_taq_api] finished with runtime [16.24] seconds
file does not exist exits, saving file at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/V.csv
Sleeping for 2 secs
Calling API for ticker [V], year [2019]
Found [3595378] rows of data for [V]
Function [call_taq_api] finished with runtime [23.62] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/V.csv

Sleeping for 2 secs
Calling API for ticker [V], year [2020]
Found [5077613] rows of data for [V]
Function [call_taq_api] finished with runtime [33.91] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/V.csv

Sleeping for 2 secs
             date           time_m ex sym_root  size    price
0      2020-01-21  08:00:01.837750  D        V     1  204.325
1      2020-01-21  08:00:01.858720  D        V    20  204.325
2      2020-01-21  08:00:01.905387  D        V    19  204.325
3      2020-01-21  08:00:02.038456  D        V   100  204.325
4      2020-01-21  08:00:02.102677  D        V     1  204.370
...           ...              ... ..      ...   ...      ...
77608  2020-04-15  19:56:16.735247  D        V     4  165.400
77609  2020-04-15  19:56:16.737770  D        V     6  165.450
77610  2020-04-15  19:58:34.282684  D        V     1  165.275
77611  2020-04-15  19:59:26.444850  D        V     2  165.200
77612  2020-04-15  19:59:44.569740  D        V    50  165.200

[5077613 rows x 6 columns]
Sleeping for 10 secs
Calling API for ticker [BA], year [2018]
Found [1961617] rows of data for [BA]
Function [call_taq_api] finished with runtime [13.31] seconds
file does not exist exits, saving file at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/BA.csv
Sleeping for 2 secs
Calling API for ticker [BA], year [2019]
Found [5007700] rows of data for [BA]
Function [call_taq_api] finished with runtime [34.74] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/BA.csv

Sleeping for 2 secs
Calling API for ticker [BA], year [2020]
Found [20367334] rows of data for [BA]
Function [call_taq_api] finished with runtime [192.89] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/BA.csv

Sleeping for 2 secs
              date           time_m ex sym_root  size   price
0       2020-01-21  08:00:00.871125  D       BA     1  321.85
1       2020-01-21  08:00:01.442225  D       BA    40  321.70
2       2020-01-21  08:00:01.443891  D       BA    62  321.68
3       2020-01-21  08:00:01.449909  D       BA    10  321.68
4       2020-01-21  08:00:01.450786  D       BA     1  321.68
...            ...              ... ..      ...   ...     ...
367329  2020-01-08  19:42:41.957178  D       BA    44  332.49
367330  2020-01-08  19:42:41.957194  D       BA    26  332.50
367331  2020-01-08  19:48:59.111530  D       BA    10  332.30
367332  2020-01-08  19:58:07.355225  D       BA    25  332.99
367333  2020-01-08  19:58:41.102328  D       BA    10  332.50

[20367334 rows x 6 columns]
Sleeping for 10 secs
Calling API for ticker [NVDA], year [2018]
Found [5609820] rows of data for [NVDA]
Function [call_taq_api] finished with runtime [40.29] seconds
file does not exist exits, saving file at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/NVDA.csv
Sleeping for 2 secs
Calling API for ticker [NVDA], year [2019]
Found [6915206] rows of data for [NVDA]
Function [call_taq_api] finished with runtime [49.82] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/NVDA.csv

Sleeping for 2 secs
Calling API for ticker [NVDA], year [2020]
Found [9160976] rows of data for [NVDA]
Function [call_taq_api] finished with runtime [69.57] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/NVDA.csv

Sleeping for 2 secs
              date           time_m ex sym_root  size     price
0       2020-01-21  08:00:00.474303  D     NVDA   100  247.0595
1       2020-01-21  08:00:00.553634  D     NVDA    50  247.5100
2       2020-01-21  08:00:00.785199  D     NVDA    87  247.7500
3       2020-01-21  08:00:00.803652  D     NVDA    30  247.7900
4       2020-01-21  08:00:01.430052  D     NVDA   200  246.5100
...            ...              ... ..      ...   ...       ...
160971  2020-08-24  19:58:38.959247  D     NVDA    25  509.2500
160972  2020-08-24  19:59:35.612638  D     NVDA     1  509.0000
160973  2020-08-24  19:59:35.612734  D     NVDA     9  509.0000
160974  2020-08-24  19:59:38.766527  D     NVDA    50  509.2500
160975  2020-08-24  19:59:56.787262  D     NVDA   100  509.2500

[9160976 rows x 6 columns]
Sleeping for 10 secs
Calling API for ticker [GE], year [2018]
Found [8581224] rows of data for [GE]
Function [call_taq_api] finished with runtime [64.33] seconds
file does not exist exits, saving file at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/GE.csv
Sleeping for 2 secs
Calling API for ticker [GE], year [2019]
Found [9515913] rows of data for [GE]
Function [call_taq_api] finished with runtime [71.82] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/GE.csv

Sleeping for 2 secs
Calling API for ticker [GE], year [2020]
Found [12452432] rows of data for [GE]
Function [call_taq_api] finished with runtime [97.23] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/GE.csv

Sleeping for 2 secs
              date           time_m ex sym_root  size  price
0       2020-01-21  08:00:01.166465  D       GE    17  11.76
1       2020-01-21  08:00:01.944052  D       GE   125  11.76
2       2020-01-21  08:00:01.949614  D       GE   897  11.75
3       2020-01-21  08:00:01.950557  D       GE  1600  11.75
4       2020-01-21  08:00:01.989285  D       GE    50  11.76
...            ...              ... ..      ...   ...    ...
452427  2020-08-24  19:56:46.813088  D       GE   200   6.63
452428  2020-08-24  19:57:44.004482  D       GE  1000   6.63
452429  2020-08-24  19:59:33.163484  D       GE   100   6.64
452430  2020-08-24  19:59:39.043848  D       GE     2   6.62
452431  2020-08-24  19:59:52.469499  D       GE     5   6.62

[12452432 rows x 6 columns]
Sleeping for 10 secs
Calling API for ticker [AAPL], year [2018]
Found [10977269] rows of data for [AAPL]
Function [call_taq_api] finished with runtime [87.47] seconds
file does not exist exits, saving file at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/AAPL.csv
Sleeping for 2 secs
Calling API for ticker [AAPL], year [2019]
Found [14265711] rows of data for [AAPL]
Function [call_taq_api] finished with runtime [125.15] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/AAPL.csv

Sleeping for 2 secs
Calling API for ticker [AAPL], year [2020]
Found [28809895] rows of data for [AAPL]
Function [call_taq_api] finished with runtime [494.38] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/AAPL.csv

Sleeping for 2 secs
              date           time_m ex sym_root  size     price
0       2020-01-21  08:00:00.484500  D     AAPL   100  317.2500
1       2020-01-21  08:00:00.485967  D     AAPL    15  317.3200
2       2020-01-21  08:00:00.491383  D     AAPL   900  317.2888
3       2020-01-21  08:00:00.509360  D     AAPL    70  317.2100
4       2020-01-21  08:00:00.547334  D     AAPL   100  317.1900
...            ...              ... ..      ...   ...       ...
309890  2020-08-24  19:59:42.527639  D     AAPL     2  506.1000
309891  2020-08-24  19:59:44.933900  D     AAPL    10  506.1000
309892  2020-08-24  19:59:46.150261  D     AAPL     5  506.1000
309893  2020-08-24  19:59:47.526757  D     AAPL   100  506.1000
309894  2020-08-24  19:59:57.281074  D     AAPL    50  506.1800

[28809895 rows x 6 columns]
Sleeping for 10 secs

Calling API for ticker [AMZN], year [2018]
Found [7702833] rows of data for [AMZN]
Function [call_taq_api] finished with runtime [94.0] seconds
file does not exist exits, saving file at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/AMZN.csv
Sleeping for 2 secs
Calling API for ticker [AMZN], year [2019]
Found [8312805] rows of data for [AMZN]
Function [call_taq_api] finished with runtime [68.71] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/AMZN.csv

Sleeping for 2 secs
Calling API for ticker [AMZN], year [2020]
Found [12174093] rows of data for [AMZN]
Function [call_taq_api] finished with runtime [97.07] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/AMZN.csv

Sleeping for 2 secs
              date           time_m ex sym_root  size    price
0       2020-01-21  08:00:00.514387  D     AMZN    10  1857.50
1       2020-01-21  08:00:01.436009  D     AMZN     5  1857.00
2       2020-01-21  08:00:01.439693  D     AMZN     1  1859.16
3       2020-01-21  08:00:01.441325  D     AMZN     4  1857.25
4       2020-01-21  08:00:01.443572  D     AMZN     8  1858.00
...            ...              ... ..      ...   ...      ...
174088  2020-08-24  19:59:32.595941  D     AMZN     2  3313.50
174089  2020-08-24  19:59:32.596316  D     AMZN     1  3312.00
174090  2020-08-24  19:59:32.596390  D     AMZN     5  3312.99
174091  2020-08-24  19:59:35.130797  D     AMZN    42  3313.50
174092  2020-08-24  19:59:42.785704  D     AMZN     1  3313.50

[12174093 rows x 6 columns]
Sleeping for 10 secs
Calling API for ticker [MSFT], year [2018]
Found [6666513] rows of data for [MSFT]
Function [call_taq_api] finished with runtime [46.93] seconds
file does not exist exits, saving file at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/MSFT.csv
Sleeping for 2 secs
Calling API for ticker [MSFT], year [2019]
Found [9575431] rows of data for [MSFT]
Function [call_taq_api] finished with runtime [71.98] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/MSFT.csv

Sleeping for 2 secs
Calling API for ticker [MSFT], year [2020]
Found [19430588] rows of data for [MSFT]
Function [call_taq_api] finished with runtime [202.41] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/MSFT.csv

Sleeping for 2 secs
              date           time_m ex sym_root  size     price
0       2020-01-21  08:00:00.462171  D     MSFT   100  166.6117
1       2020-01-21  08:00:00.473989  D     MSFT    37  166.6895
2       2020-01-21  08:00:00.494687  D     MSFT    50  166.7700
3       2020-01-21  08:00:00.551114  D     MSFT   100  166.7200
4       2020-01-21  08:00:00.614176  D     MSFT    10  166.7800
...            ...              ... ..      ...   ...       ...
430583  2020-07-22  19:59:50.903111  D     MSFT     1  207.0500
430584  2020-07-22  19:59:50.903360  D     MSFT     5  207.0500
430585  2020-07-22  19:59:50.906736  D     MSFT    34  207.0300
430586  2020-07-22  19:59:55.366593  D     MSFT     3  207.0300
430587  2020-07-22  19:59:56.944933  D     MSFT  1000  207.0200

[19430588 rows x 6 columns]
Sleeping for 10 secs
Calling API for ticker [NFLX], year [2018]
Found [6268648] rows of data for [NFLX]
Function [call_taq_api] finished with runtime [44.93] seconds
file does not exist exits, saving file at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/NFLX.csv
Sleeping for 2 secs
Calling API for ticker [NFLX], year [2019]
Found [6189989] rows of data for [NFLX]
Function [call_taq_api] finished with runtime [43.3] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/NFLX.csv

Sleeping for 2 secs
Calling API for ticker [NFLX], year [2020]
Found [7010105] rows of data for [NFLX]
Function [call_taq_api] finished with runtime [49.44] seconds
file exits, appending
Saving output at: E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered/NFLX.csv

Sleeping for 2 secs
             date           time_m ex sym_root  size     price
0      2020-01-21  08:00:00.585088  D     NFLX   118  339.5000
1      2020-01-21  08:00:00.606508  D     NFLX    35  339.5000
2      2020-01-21  08:00:00.686676  D     NFLX    30  339.2527
3      2020-01-21  08:00:00.778703  D     NFLX    16  339.8000
4      2020-01-21  08:00:00.869707  D     NFLX    16  339.1200
...           ...              ... ..      ...   ...       ...
10100  2020-07-16  19:59:54.657415  D     NFLX     3  479.4100
10101  2020-07-16  19:59:54.699631  D     NFLX    10  479.4100
10102  2020-07-16  19:59:55.394479  D     NFLX     5  479.4100
10103  2020-07-16  19:59:56.129829  D     NFLX    25  479.2000
10104  2020-07-16  19:59:58.550454  D     NFLX    10  479.5000

[7010105 rows x 6 columns]
Sleeping for 10 secs

### Data analysis <a class="anchor" id="bullet3"></a>

In [6]:
def loop_tickers(func):
    '''Decorator that loops all (ticker) files in the directory.'''
  
    def wrap(*args, **kwargs):
        if 'file_dir' in kwargs:
            for filename in os.listdir(filedir):
                csv_path = os.path.join(filedir, filename)
                kwargs['ticker'] = csv_path.split("\\")[-1].split(".")[0]
                # checking if it is a file
                if os.path.isfile(csv_path):
                    
                    message = f"""Now executing function {func.__name__} for [{filename}], variables:
                    - csv_path: [{csv_path}]
                    - kwargs: [{kwargs}])"""
                    print(message)

                    result = func(csv_path=csv_path, *args, **kwargs)
                    
        else:
            raise ValueError("Wrapper can not loop, as no file directory given. Please specify which folder needs to be looped by setting 'file_dir' variable.") 
        
        
        
        return result
    return wrap

In [ ]:
result_dict = {}

@loop_tickers
def count_rows(csv_path, *args, **kwargs):
    ticker = csv_path.split("\\")[-1].split(".")[0]
    
    # Setting start count and chunk size
    row_count = 0
    chunksize = 10 ** 6
    
    # Start counting the rows in the csv, chunk by chunk
    for chunk in pd.read_csv(csv_path, chunksize=chunksize):
        chunk_rows = len(chunk.index)
        row_count = row_count + chunk_rows
        print(f"Count for [{ticker}] increase by [{chunk_rows}] this chunk")

    # Save results
    print(f"Saving results for [{ticker}], found [{row_count}] total rows\n")
    result_dict[f"{ticker}"] = row_count

    return row_count


filedir = r"E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered"
count_rows(file_dir= filedir)

ticker_DA = pd.DataFrame(result_dict.items(), columns=['ticker', 'obs_count'])
ticker_DA

**Observation count** 

A total of `504,379,931` different transaction from the TAQ database are found. The Apple (APPL) stock had the most transaction, with a total of `54,052,875` while GameStop (GME) had the least amount of transactions: `3,148,072`.

In [116]:
ticker_DA

   ticker  obs_count
0    AAPL   54052875
1     AMD   43316885
2    AMZN   28189731
3    ATVI    7212405
4      BA   27336651
5    BABA   20543175
6     BAC   25863085
7     DIS   19156523
8       F   22274196
9      GE   30549569
10    GME    3148072
11     IQ    7405191
12   LULU    3502964
13   MSFT   35672532
14     MU   20129152
15   NFLX   19468742
16   NVDA   21686002
17   SBUX   10640928
18   SHOP    7244389
19   SNAP   15025233
20     SQ   13890320
21   TLRY    6557992
22   TSLA   40409172
23      V   11142662
24    WMT    9961485

### Converting raw data to daily data <a class="anchor" id="bullet4"></a>

In [10]:
def filters(df):
    #     -----------------     Filtering data     -----------------
    # Removing all observations where the Exchange code (EX) is not 'D'
    df = df[df['ex'] == 'D']

    # Creating a new column which contains the sub penny prices
    df['sub_penny'] = (df['price'] - (df['price'] * 100).apply(np.floor) / 100).round(4)

    # Removing all sub penny prices which are a round penny (i.e. equal to 0.0000 or 0.0010)
    df = df[~(df['sub_penny'] == 0.0000)]
    df = df[~(df['sub_penny'] > 0.0099)]

    # Removing all sub penny prices which are in the 0.4 - 0.6 range
    df = df[(df['sub_penny'] <= 0.0040) | (df['sub_penny'] >= 0.0060)]

    #     -----------------     Creating new data     -----------------
    # Categorize a trade as buy or sell. Also buy/sell volumes
    df['buysell'] = np.where(((df['sub_penny'] > 0.0000) & (df['sub_penny'] < 0.0050)), "sell", "buy")

    # To count buys and sells, I specify 1 or 0 for both buy and sell.
    # Being a buy automatically means having a 0 for sell. This is done to easily count total trades.
    df['buy'] = np.where(df['buysell'] == "buy", 1, 0)
    df['sell'] = np.where(df['buysell'] == "sell", 1, 0)

    # Next, I specify whether the volume is buy or sell.
    df['buy_vol'] = np.where(df['buysell'] == "buy", df['size'], 0)
    df['sell_vol'] = np.where(df['buysell'] == "sell", df['size'], 0)

    #     -----------------     Converting to daily data new data     -----------------
    # Taking daily sums and averages for the columns. The dictionary indicates which one is taken.
    df = (df.groupby('date').agg(
        {'price': 'mean', 'size': 'sum', 'buy': 'sum', 'sell': 'sum', 'buy_vol': 'sum', 'sell_vol': 'sum'})
          .round(2)
          .rename(columns={'size': 'total_vol'}))

    # Resetting 'date' index and converting it to datetime
    df = df.reset_index()
    df['date'] = pd.to_datetime(df['date'].astype(str), format='%Y-%m-%d')

    # Creating total amount of traders, total volume and total amount of money traded
    df['total_bs'] = df['buy'] + df['sell']
    df['total_vol'] = df['buy_vol'] + df['sell_vol']
    df['total_price'] = df['price'] * df['total_vol']
    
    rolling_window = 5
    df['bs_change'] = (df['buy'] - df['sell']) / df['total_bs'].rolling(rolling_window).mean()
    df['vol_change'] = (df['buy_vol'] - df['sell_vol']) / df['total_vol'].rolling(rolling_window).mean()
    df['bs_change'] = df['bs_change'].round(4)
    df['vol_change'] = df['vol_change'].round(4)
    
    return df

In [ ]:
@loop_tickers
def filter_data(csv_path, *args, **kwargs):
    """This function filters the unfiltered data to daily data"""
    df = pd.read_csv(csv_path)
    
    df = filters(df)

    # Setup save location by changing base_path from /unfiltered to /filtered
    base_path = os.path.dirname(kwargs['file_dir'])
    base_path = os.path.join(base_path, 'filtered').replace('\\', '/')
    
    ticker = kwargs['ticker']
    save_path = os.path.join(base_path, f"{ticker}.csv").replace('\\', '/')

    # Save results
    print(df)
    df.to_csv(save_path, encoding='utf-8')


filedir = r"E:/Users/Christiaan/Large_Files/Thesis/taq/unfiltered"
filter_data(file_dir= filedir)

In [ ]:
@track_runtime
def functionn(n):
    '''Counts down'''
    for i in range(n):
        time.sleep(1)
    print("done with function")
  
functionn(2)